<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <span id="datewrap"><%= form.date_select :date %></span>
  </div>

  <div class="field">
    <%= form.label :breakfast_id %>
    <%= form.collection_select :food_id, @foods,:id, :name %>
  </div>

    <div class="field">
    <%= form.label :lunch_id %>
    <%= form.collection_select :lunch_id, @foods,:id, :name %>
  </div>

    <div class="field">
    <%= form.label :dinner_id %>
    <%= form.collection_select :dinner_id, @foods,:id, :name %>
  </div>

  <div class="actions text-center">
    <button type="button" class="btn button text-center mb-2" id="indexsubmitbtn"><%= form.submit %></button>
  </div>
<% end %>