<%= form_with scope: :plan, url: plans_path, local: true do |form| %>

  <p>
     <%= form.label :breakfast_id %>
    <%= form.collection_select :food_id, @foods,:id, :cuisine %>
  </p>

  <p>
     <%= form.label :lunch_id %>
    <%= form.collection_select :food_id, @foods,:id, :cuisine %>
  </p>

  <p>
     <%= form.label :dinner_id %>
    <%= form.collection_select :food_id, @foods,:id, :cuisine %>
  </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>