<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @plan.meal %>
</p>

<p>
  <strong>Food:</strong>
  <%= @plan.breakfast_id %>
</p>

<p>
  <strong>Food:</strong>
  <%= @plan.lunch_id %>
</p>

<p>
  <strong>Food:</strong>
  <%= @plan.dinner_id %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
