<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @plans.date %>
</p>
    <% lunch = @plans.lunch_id.to_i - 1%>
    <% dinner = @plans.dinner_id.to_i - 1%>
<p>
  <div><strong>Breakfast:</strong><%= @plans.food.name %> <%= @plans.food.calories %> cal  $<%= @plans.food.price %></div>
   <div><strong>Lunch:</strong><%= @foods[lunch].name %> <%= @foods[lunch].calories %> cal  $<%= @foods[lunch].price %></div>
   <div><strong>Dinner:</strong><%= @foods[dinner].name %> <%= @foods[dinner].calories %> cal  $<%= @foods[dinner].price %> </div>
</p>



<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', profile_path %>