<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @plans.date %>
</p>
    <% lunch = @plans.lunch_id.to_i - 1%>
    <% dinner = @plans.dinner_id.to_i - 1%>
<p>
  <div><strong>Breakfast:</strong><%= @plans.food.name %> <%= @plans.food.calories %> cal  $<%= @plans.food.price %></div>
   <div><strong>Lunch:</strong><%= @foods[lunch].name %> <%= @foods[lunch].calories %> cal  $<%= @foods[lunch].price %></div>
   <div><strong>Dinner:</strong><%= @foods[dinner].name %> <%= @foods[dinner].calories %> cal  $<%= @foods[dinner].price %> </div>
</p>

<% total = @foods[dinner].price + @foods[lunch].price + @plans.food.price %>

<% calories = @foods[dinner].calories + @foods[lunch].calories + @plans.food.calories %>


<h4> Total Price: $<%= total %> </h4>

<h4> Total Calories: <%= calories %> cal </h4>

<%= link_to 'Edit', edit_plan_path(@plans) %>
<%= link_to 'View', profile_path %>
<td><%= link_to 'Delete', @plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>