<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @plans.date %>
</p>
    <% lunch = @plans.lunch_id.to_i - 1%>
    <% dinner = @plans.dinner_id.to_i - 1%>
<p>
  <div><strong>Breakfast:</strong><%= @plans.food.name %> <%= @plans.food.calories %> cal  $<%= @plans.food.price %></div>
   <div><strong>Lunch:</strong><%= @foods[lunch].name %> <%= @foods[lunch].calories %> cal  $<%= @foods[lunch].price %></div>
   <div><strong>Dinner:</strong><%= @foods[dinner].name %> <%= @foods[dinner].calories %> cal  $<%= @foods[dinner].price %> </div>
</p>

<%
total = 0
	total = @foods[dinner].price + @foods[lunch].price + @plans.food.price
%>

<%
calories = 0
	calories = @foods[dinner].calories + @foods[lunch].calories + @plans.food.calories
%>


<h4> Total Price :$<%= total %> </h4>

<h4> Total Calories: <%= calories %> </h4>

<button>Randomize <%= @plans.food.name.shuffle.first %> </button>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', profile_path %>